.contact-form {
  padding: 40px 0px 80px 0px;
  @media (max-width: $md4+px) {
    padding: 30px 0px 50px 0px;
  }
  &__container {}
  &__title {
    text-align: center;
  }
  &__form {}
}
.tattoo-form {
  max-width: 540px;
  margin: 0 auto;
  padding: 20px 0px 0px 0px;
  &__label {
    @extend .text-style;
    margin: 0px 0px 5px 0px;
    display: inline-block;
  }
  &__email {
    margin: 0px 0px 25px 0px;
  }
  &__artists {
    margin: 0px 0px 25px 0px;
  }
  &__message {
    margin: 0px 0px 30px 0px;
  }
  &__file {
    margin: 0px 0px 40px 0px;
  }
  &__button {
    text-align: center;
  }
}
.file-tattoo {
  &__row {
    display: flex;
    justify-content: space-around;
    @media (max-width: $md4+px) {
      flex-wrap: wrap;
    }
  }
  &__item {
    @extend .text-style;
    cursor: pointer;
    @media (max-width: $md4+px) {
      flex: 0 0 50%;
      text-align: center;
      margin: 0px 0px 8px 0px;
      &:last-child {
        margin: 0px;
      }
    }
  }
}