.main-screen {
  position: relative;
  overflow: hidden;
  z-index: 1;
  padding: 75px 0px 100px 0px;
  height: 100vh;
  min-height: 640px;
  @media (max-width: $md3+px) {
    padding: 55px 0px 50px 0px;
  }
  @media (max-width:$md4+px){
    min-height: auto;
  }
  &__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.65);
    }
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: -50%;
      width: 100%;
      height: 100%;
      background: linear-gradient(269.85deg, rgba(33, 8, 8, .9) 21.28%, rgba(58, 58, 58, .27) 96.11%);
      z-index: -1;
      transform: skewX(-30deg);
    }
  }
  &__container {}
  &__body {
    text-align: center;
    padding: 45px 0px 0px 0px;
    position: relative;
    @media (max-width: $md3+px) {
      padding: 90px 0px 0px 0px;
    }
  }
  &__logo {
    position: absolute;
    top: 0;
    left: -10px;
    @media (max-width: $md3+px) {
      left: 50%;
      transform: translateX(-50%);
    }
  }
  &__tattoo {
    img {
      max-width: 100%;
    }
  }
  &__title {
    color: #ffffff;
    margin: 0px 0px 50px 0px;
    @media (max-width: $md3+px) {
      margin: 0px 0px 40px 0px;
    }
    @media (max-width:$md4+px) {
      margin: 0px 0px 30px 0px;
    }
  }
  &__button {}
  &__social {
    position: absolute;
    right: 0;
    top: 15px;
    display: flex;
    flex-direction: column;
    img {
      margin: 0px 0px 20px 0px;
      &:last-child {
        margin: 0px;
      }
    }
    @media (max-width:$md3+px) {
      display: block;
      position: static;
      z-index: 11;
      img {
        margin: 0px 20px 0px 0px;
        &:last-child {
          margin: 0px;
        }
      }
    }
  }
}