//<ПЕРЕМЕННЫЕ>===========================================================================================================
@import 'var.scss';
//</ПЕРЕМЕННЫЕ>===========================================================================================================
//<МИКСИНЫ>===============================================================================================
@import 'mixin.scss';
//</МИКСИНЫ>===============================================================================================
//<ШРИФТЫ>===============================================================================================
//<Подключаем шрифты>=======================================================================================
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;600&display=swap');
//</Подключаем шрифты>=======================================================================================
//<Шрифт по умолчанию>==========================================================================================
$fontfamily: "Raleway";
//</Шрифт по умолчанию>==========================================================================================
//</ШРИФТЫ>=======================================================================================================
//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import 'reset/reset.scss';
body {
  color: #000;
  font-size: 14px;
  &.lock {
    overflow: hidden;
  }
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  background-color: #1d1c21;
}
//</ОБОЛОЧКА>===========================================================================================================
//<ОСНОВНАЯ СЕТКА>===========================================================================================================
.container {
  max-width: $mw+px;
  margin: 0 auto;
  padding: 0px 15px;
  width: 100%;
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================
// Подключение стилей для хедера
@import "header/header.scss";
// Подключение стилей для хедера ===================================================================================
//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "ui.scss";
@import "forms/forms.scss";
@import "magnific/magnific.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
//<ОСНОВНОЙ БЛОК>====================================================================================================
//<MAIN-SCREEN STYLE>===============================================================================
@import "main/main-screen.scss";
//</MAIN-SCREEN STYLE>===============================================================================

//<ARTISTS STYLE>===============================================================================
@import "main/artists.scss";
//</ARTISTS STYLE>===============================================================================

//<AWARDS STYLE>===============================================================================
@import "main/awards.scss";
//</AWARDS STYLE>===============================================================================

//<AWARDS STYLE>===============================================================================
@import "main/feature.scss";
//</AWARDS STYLE>===============================================================================

//<AWARDS STYLE>===============================================================================
@import "main/about.scss";
//</AWARDS STYLE>===============================================================================

//<AWARDS STYLE>===============================================================================
@import "main/collections.scss";
//</AWARDS STYLE>===============================================================================

//<AWARDS STYLE>===============================================================================
@import "main/contact-forms.scss";
//</AWARDS STYLE>===============================================================================

//<AWARDS STYLE>===============================================================================
@import "main/contact-info.scss";
//</AWARDS STYLE>===============================================================================

//<FOOTER STYLE>===============================================================================
@import 'footer/footer.scss';
//</FOOTER STYLE>===============================================================================
//</ОСНОВНОЙ БЛОК>====================================================================================================